/* Artfully masterminded by ZURB  */
/* Requires:
   normalize.css
   -box-sizing.htc */
/* Global Reset & Standards ---------------------- */
/* line 9, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/zurb-foundation-3.0.2/stylesheets/foundation/globals.scss */

/* Link List */
/* line 284, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/zurb-foundation-3.0.2/stylesheets/foundation/ui.scss */
ul.link-list {
  margin: 0 0 17px -22px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 286, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/zurb-foundation-3.0.2/stylesheets/foundation/ui.scss */
ul.link-list li {
  list-style: none;
  float: left;
  margin-left: 22px;
  display: block;
}
/* line 288, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/zurb-foundation-3.0.2/stylesheets/foundation/ui.scss */
ul.link-list li a {
  display: block;
}

